.view-event-head {
    min-height: 25rem;
    background-color: red;
    display: flex;
    align-items: start;
    gap: 1.5rem;
    padding: 1rem 3rem;
}

.event-img {
    display: flex;
    justify-content: center;
    align-self: center;
}

.event-img img {
    height: 23rem;
    border-radius: 1rem;
}

.view-event-details {
    width: 100%;
    margin: 1rem;
    color: white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-name h2 {
    margin: 1rem 0rem 0.5rem;
    font-size: 1.75rem;
}

.event-details-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-details-others {
    margin: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 0.5rem;
}

.event-types {
    padding: 0rem 0.5rem;
}

.event-type {
    display: inline-block;
    padding: 0.7rem 0.5rem 0.26rem 0rem;
    font-weight: bold;
}

.event-fee {
    margin: 0.7rem 0rem;
    grid-column: span 2;
    justify-self: center;
}

.event-add-info {
    color: white;
    background-color: red;
}

.event-add-info-head , .event-details-cont-head{
    padding: 0.7rem 2.5rem 1rem;

}

.event-add-info-head h2 {
    width: max-content;
    margin: 0;
    font-size: 1.75rem;
    border-bottom: 5px solid yellow;
}

.event-add-info-main {
    padding: 0.26rem 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.26rem;
    font-size: 1.2rem;
}

.add-info-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 0.5rem;
}

.add-event-col a{
    color: white;
    text-decoration: underline;
    font-size: 1.05rem;
}

.event-details-cont{
    color: white;
    background-color: red;
    min-height: 26rem;
    padding-bottom: 3rem;
    border-radius: 0rem 0rem 2.69rem 2.69rem;
}