@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

.news-cont {
    position: relative;
    /* background-color: rgba(218, 26, 23, 0.882); */
    background-color: black;
}

.news-head {
    display: flex;
    justify-content: start;
    padding: 1.5rem 3rem 1rem;
}

.news-head h1 {
    font-size: 2rem;
    color: white;
    margin: 0rem;
    border-bottom: 5px solid red;
    font-family: "BBH Bartle", sans-serif;
}

.news {
    padding: 1rem 1.5rem 0rem;
    margin: 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
}

.news-row {
    gap: 1.26rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}