@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

.home-news {
    background-color: rgba(0, 0, 0, 0.487);
    border-color: rgba(220, 38, 38, 0.3);
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.17),
        0 20px 40px rgba(0, 0, 0, 0.2);
    margin: 2rem 2.5rem 0rem;
    border-radius: 1rem;
}

.news-cont {
    position: relative;
}

.news-head {
    display: flex;
    justify-content: start;
    padding: 1.5rem 3rem 1rem;
}

.news-head h1 {
    font-size: 2rem;
    color: white;
    margin: 0rem;
    border-bottom: 5px solid red;
    font-family: "BBH Bartle", sans-serif;
}

.news {
    padding: 1rem 1.5rem 3rem;
    margin: 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
}

.news-row {
    gap: 1.26rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}