.news-cont {
    position: relative;
    /* background-color: rgba(218, 26, 23, 0.882); */
    background-color: black;
}

.news-head h1 {
    color: white;
    margin: 0rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.news {
    padding: 1rem 1rem 0rem 1rem;
    margin: 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.26rem;
}

.news-row {
    gap: 1.26rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
<<<<<<< HEAD
}
=======
}
>>>>>>> 2f0969b2aab89dded7cc693c3d3b7afa7c202a90
