@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanchenjunga:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.6rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p {
  margin: 0;
}


.events-search-form .evt-search input:focus {
  outline: none;
  box-shadow: none;
}

.home-bg {
  background: linear-gradient(to bottom right, #1a1a1a, #7f1d1d, #2d2d2d);
}

/* fonts */

.navbar {
  font-family: "Rubik", sans-serif;
}

.intro-btns {
  font-family: 'Kanchenjunga';
}

.intro-head p {
  font-family: 'Poppins';
}

.news-txt-head h2 {
  font-family: 'Roboto';
  word-spacing: 2px;
}

.counter-cont-head {
  font-family: 'Roboto';
}

.counter-element {
  font-family: 'Poppins';
}

.ranking-head h2 {
  font-family: 'Poppins';
  word-spacing: 5px;
}

.ranking-position {
  font-family: "BBH Bartle", sans-serif;
  padding-left: 0.5rem;
}

.tournament-info p {
  font-family: 'Poppins';
}

.tournament-btn , .logo-text{
  font-family: 'Roboto';
}

.news-content{
  font-family: 'Poppins';
}

.ranking-heading , .rank-badge {
  font-family: "BBH Bartle", sans-serif;
  word-spacing: 1.5rem;
}