.gallery-cont {
    min-height: 40rem;
    background-color: black;
    background: linear-gradient(to bottom right, #1a1a1a, #7f1d1d, #2d2d2d);
    color: white;
    transition: filter 0.3s ease;
}

.gallery-cont.blurred {
    filter: blur(1.26px);
}

.gallery-head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    padding: 1.7rem 0rem 2.26rem;
}

.gallery-head h1 {
    border-bottom: 5px solid red;
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.17),
        0 20px 40px rgba(0, 0, 0, 0.2);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    justify-items: center;
    padding: 1rem 2.5rem 7.5rem;
    gap: 2rem;
    row-gap: 2.26rem;
}

.gallery img {
    display: block;
    height: 21rem;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
    transition: transform 0.3s ease;
        box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.17),
        0 20px 40px rgba(0, 0, 0, 0.2);
}

.gallery img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.modal {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(58, 58, 58, 0.82);
    backdrop-filter: blur(1.26px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal img {
    max-width: 126rem;
    min-height: 80%;
    max-height: 90%;
}

.close-btn {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 2rem;
    color: red;
    cursor: pointer;
}

.close-btn svg {
    background-color: black;
    border-radius: 50%;

}

.gallery-btn {
    color: white;
    background-color: red;
    font-size: 1.5rem;
    padding: 1rem 1.5rem 0.8rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev-btn {
    left: 2rem;
}

.next-btn {
    right: 2rem;
}

.gallery-btn:hover svg {
    transform: scale(1.2);
}