.counter-element {
    min-height: 10rem;
    min-width: 13rem;
    background-color: rgba(229, 25, 56, 0.776);
    color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    border: 3px solid #000000;
    box-shadow: 12px 12px 0 rgb(0, 0, 0);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.counter-element:hover {
    transform: translateY(-9px);
    box-shadow: 12px 12px 0 lightcoral;
}

.counter-element svg {
    font-size: 2.5rem;
}

.small svg {
    font-size: 2rem;
}

.counter-label {
    font-size: 1.15rem;
    color: yellow;
}

.counter-count {
    font-weight: bold;
    font-size: 1.6rem;
}
