.ranking-cont {
    background: black;
    font-family: Arial, sans-serif;
    padding-bottom: 1rem 1rem 2.26rem;
}

.ranking {
    background: #0f0f1e;
    margin: 0rem 3rem;
    border-radius: 0.5rem;
    padding-bottom: 2rem;
}

.ranking-head {
    margin-bottom: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.ranking-head h2 {
    font-size: 2.26rem;
    color: white;
    margin: 0;
    font-weight: bold;
}

.ranking-list-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ranking-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.ranking-card {
    width: 31rem;
    height: 15rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    color: white;
}

.ranking-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.ranking-info img {
    position: absolute;
    height: 15rem;
    bottom: 0px;
    right: 0px;
}

.ranking-position {
    font-size: 2.6rem;
    font-weight: bold;
    color: white;
    line-height: 1;
    display: flex;
    position: relative;
    top: 0px;
}

.ranking-position sup {
    font-size: 1rem;
}

.ranking-player {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.player-name {
    font-size: 2.26rem;
}

.player-name p {
    margin: 0;
}

.ranking-points {
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    bottom: 1rem;
}

@media (max-width: 768px) {
    .ranking-head h2 {
        font-size: 32px;
    }

    .ranking-card {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 30px;
    }

    .ranking-info {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .ranking-position {
        font-size: 48px;
    }

    .player-name {
        font-size: 32px;
    }

    .player-team {
        font-size: 22px;
    }

    .ranking-points {
        font-size: 36px;
    }
}