.line{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.26rem;
    padding: 2rem 0rem;
}

.line-1{
    width: 90%;
    height: 0.4rem;
    background-color: #ff4500;
}