.tournament-home {
    padding: 3rem 3rem 4rem;
}

.tournament-cont {
    position: relative;
    background-color: rgba(229, 25, 56, 0.776);
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.17),
        0 20px 40px rgba(0, 0, 0, 0.2);

    color: white;
    border-radius: 0.5rem;
    min-height: 23rem;
    padding: 1rem 2rem ;
    box-sizing: border-box;
}

.tournament-info h2 {
    font-size: 3rem;
    margin: 0.5rem 0rem;
}

.tournament-info {
    position: absolute;
    bottom: 1.69rem;
    padding-bottom: 0.5rem;
}

.tournament-info p {
    margin: 0rem;
    font-size: 1rem;
    font-weight: 500;
}

.tournament-btn {
    background-color: white;
    border-radius: 2.26rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0rem 0rem;
}

.tournament-btn {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.69rem 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

.tournament-btn:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

;

.tournament-btn:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

;