@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');

.social-media-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 0rem 3.5rem;
    border-radius: 0rem 0rem 2.69rem 2.69rem;
}

.social-media-cont ul {
    display: flex;
    flex-wrap: wrap;
}

.social-media-cont ul li {
    list-style: none;
    margin: 0 1.4rem;
}

.social-media-cont ul li a svg {
    font-size: 2.1rem;
    color: #333;
    transition: 0.5s;
    padding: 0rem 0.5rem;
}

.social-media-cont ul li a span {
    color: #333;
    letter-spacing: 2px;
    transition: 0.5s;
}

.social-media-cont ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 13rem;
    height: 5rem;
    background: #fff;
    padding-left: 1.25rem;
    position: relative;
    transition: 0.5s;
}

.social-media-cont ul li a::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 1.25rem;
    background: #cecece;
    transition: 0.5s;
    transform: skewY(-45deg);
}

.social-media-cont ul li a::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 1.25rem;
    width: 100%;
    background: #cecece;
    transition: 0.5s;
    transform: skewX(-45deg);
}

.social-media-cont ul li:hover i {
    color: #fff;
}

.social-media-cont ul li:hover span {
    color: #fff;
}

.social-media-cont ul li:hover a {
    background: #dd4b39;
    transform: translate(15px, -15px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

.social-media-cont ul li:hover a svg {
    color: white;
}

.social-media-cont ul li:hover a::before {
    background: #b33a2b;
}

.social-media-cont ul li:hover a::after {
    background: #b33a2b;
}

@media screen and (max-width: 1040px) {
    .social-media-cont ul {
        flex-direction: column;
    }
}