.events {
    height: auto;
    width: 100%;
    background-color: black;
}

.events-search {
    position: sticky;
    top: 5rem;
    z-index: 24;
}

.events-search-form {
    height: 3.7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    box-shadow:
        0 9px 26px rgba(0, 0, 0, 0.5),
        0 2px 6px rgba(0, 0, 0, 0.25);
}

.evt-search input,
.evt-sort-wrapper,
.drop-list {
    background-color: rgb(229 25 55);
    background-color: white;
    color: black;
}

.evt-sort-wrapper-search {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.evt-sort-wrapper-search:hover .evt-search {
    transform: scale(1.11);
}

.events-search-form .evt-search input {
    min-width: 24rem;
    border: none;
    height: 100%;
    padding: 0rem 1.5rem;
    border-right: 2px solid black;
    font-size: 1.1rem;
    box-sizing: border-box;
}

.search::placeholder {
    color: gray;
    font-weight: bold;
}

.evt-sort-wrapper {
    flex-grow: 1;
    height: 100%;
    width: auto;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 0.5rem;
    border-right: 2px solid black;
}

.drop-list {
    max-height: 6rem;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    border-top: 1px solid black;
    box-shadow:
        0 12px 32px rgba(0, 0, 0, 0.35),
        0 2px 6px rgba(0, 0, 0, 0.25);
    background-color: beige;
}

.selected {
    background-color: rgb(255, 103, 126);
}

.sort-select {
    z-index: 10;
    max-height: 6rem;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    list-style: none;
    box-sizing: border-box;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sort-select::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.sort-select li {
    padding: 0.7rem 1rem;
    border-bottom: 1px solid black;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.sort-label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.69rem;
}

.sort-label-txt {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.sort-text-head {
    font-size: 0.9rem;
    color: gray;
    font-weight: bold;
}

.sort-text-selected {
    font-size: 0.9rem;
    font-weight: bold;
}

.drop-icon {
    position: relative;
    top: 0.8rem;
}

.evt-sort-wrapper-search {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3.5rem;
    border-right: none;
}

.event-result.bg-blur {
    filter: blur(40%);
}

.event-results {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 3rem;
    height: 100%;
    /* background: linear-gradient(to bottom right, #1a1a1a, #7f1d1d, #2d2d2d); */
    background: linear-gradient(to bottom right, #4F4F4F, #A13232, #613434);
    padding: 3rem 2rem 7rem;
    position: relative;
}

.event-error-msg {
    width: 100%;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    grid-column: span 3;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.event-loader {
    position: relative;
    z-index: 1;
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes square-animation {
    0% {
        left: 0;
        top: 0;
    }

    10.5% {
        left: 0;
        top: 0;
    }

    12.5% {
        left: 32px;
        top: 0;
    }

    23% {
        left: 32px;
        top: 0;
    }

    25% {
        left: 64px;
        top: 0;
    }

    35.5% {
        left: 64px;
        top: 0;
    }

    37.5% {
        left: 64px;
        top: 32px;
    }

    48% {
        left: 64px;
        top: 32px;
    }

    50% {
        left: 32px;
        top: 32px;
    }

    60.5% {
        left: 32px;
        top: 32px;
    }

    62.5% {
        left: 32px;
        top: 64px;
    }

    73% {
        left: 32px;
        top: 64px;
    }

    75% {
        left: 0;
        top: 64px;
    }

    85.5% {
        left: 0;
        top: 64px;
    }

    87.5% {
        left: 0;
        top: 32px;
    }

    98% {
        left: 0;
        top: 32px;
    }

    100% {
        left: 0;
        top: 0;
    }
}

.loader {
    position: relative;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
}

.loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
    animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
    animation-delay: -10s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.evt-search-icon button {
    background: transparent;
    margin: 0;
    padding: 0;
}