.events {
    height: auto;
    width: 100%;
}

.events-search-form {
    height: 3.69rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgb(229 25 55);
    border-bottom: 0.5px solid white;
}

.events-search-form .evt-search input {
    background-color: rgb(229 25 55);
    color: #fff;
    min-width: 24rem;
    border: none;
    height: 100%;
    padding: 0rem 1.5rem;
    border-right: 1px solid white;
    font-size: 1.1rem;
    box-sizing: border-box;
}

.search::placeholder {
    color: white;
}

.evt-sort-wrapper {
    flex-grow: 1;
    height: 100%;
    width: auto;
    position: relative;
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 0.5rem;
    border-right: 1px solid white;
    background-color: rgb(229 25 55);
}

.drop-list {
    background-color: rgb(229 25 55);
    max-height: 6rem;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1;
}

.selected {
    background-color: rgb(255, 103, 126);
}

.sort-select {
    z-index: 10;
    max-height: 6rem;
    width: 100%;
    /* background: #0f0f1e80; */
    margin: 0rem;
    padding: 0rem;
    list-style: none;
    box-sizing: border-box;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sort-select::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.sort-select li {
    padding: 0.5rem 1rem;
    border-top: 1px solid white;
}

.sort-label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.69rem;
}

.sort-label-txt {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.sort-text-head {
    font-size: 0.8rem;
    color: rgb(222, 222, 222);
    font-weight: 500;
}

.sort-text-selected {
    font-size: 0.9rem;
    font-weight: bold;
}

.drop-icon {
    position: relative;
    top: 0.8rem;
}

.evt-sort-wrapper-search {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3.5rem;
    border-right: none;
}

.event-result-cont {
    height: 100%;
    padding: 2rem;
    background-color: black;
    padding-bottom: 5rem;
    border-radius: 0rem 0rem 2.69rem 2.69rem;
}

.add-evt-btn {
    background-color: aqua;
    border-radius: 50%;
    width: max-content;
    padding: 0.5rem;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
    position: sticky;
    bottom: 2rem;
    left: 100%;
    right: 0r;
    margin-right: -1.1rem;
}

.add-evt-btn a {
    color: black;
}

.add-evt-btn:hover {
    transform: scale(1.1);
}

.event-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 3rem;
    height: 100%;
    background: white;
    padding: 2.5rem 2rem;
    position: relative;
}

.event-result {
    min-height: 31.5rem;
    max-height: 32rem;
    width: 23rem;
    background-color: beige;
    border-radius: 1rem;
    box-shadow:
        inset 4px 4px 8px rgba(0, 0, 0, 0.2),
        inset -4px -4px 8px rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.event-reult-img img {
    border-radius: 1rem 1rem 0rem 0rem;
    height: 21rem;
    width: 100%;
    object-fit: cover;
}

.event-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0rem 1rem 1rem;
}

.event-head {
    grid-column: span 2;
    margin: 0.2rem 0rem 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #ba0c2f;
}

.event-result {
    transition: transform 0.3s ease;
}

.event-result:hover {
    transform: scale(1.03);
}
