.events {
    height: auto;
    width: 100%;
}

.events-search {
    position: sticky;
    top: 5.26rem;
    z-index: 26;
}

.events-search-form {
    height: 3.7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

.evt-search input,
.evt-sort-wrapper,
.drop-list {
    background-color: rgb(229 25 55);
    background-color: white;
    color: black;
}

.evt-sort-wrapper-search {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.evt-sort-wrapper-search:hover .evt-search {
    transform: scale(1.11);
}

.events-search-form .evt-search input {
    min-width: 24rem;
    border: none;
    height: 100%;
    padding: 0rem 1.5rem;
    border-right: 2px solid black;
    font-size: 1.1rem;
    box-sizing: border-box;
}

.search::placeholder {
    color: gray;
    font-weight: bold;
}

.evt-sort-wrapper {
    flex-grow: 1;
    height: 100%;
    width: auto;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 0.5rem;
    border-right: 2px solid black;
}

.drop-list {
    max-height: 6rem;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1;

    border-radius: 0rem 0rem 0.5rem 0.5rem;
    border-top: 1px solid black;
    box-shadow:
        0 12px 32px rgba(0, 0, 0, 0.35),
        0 2px 6px rgba(0, 0, 0, 0.25);
}

.selected {
    background-color: rgb(255, 103, 126);
}

.sort-select {
    z-index: 10;
    max-height: 6rem;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    list-style: none;
    box-sizing: border-box;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sort-select::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.sort-select li {
    padding: 0.7rem 1rem;
    border-bottom: 1px solid black;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.sort-label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.69rem;
}

.sort-label-txt {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.sort-text-head {
    font-size: 0.9rem;
    color: gray;
    font-weight: bold;
}

.sort-text-selected {
    font-size: 0.9rem;
    font-weight: bold;
}

.drop-icon {
    position: relative;
    top: 0.8rem;
}

.evt-sort-wrapper-search {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3.5rem;
    border-right: none;
}

.event-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 3rem;
    height: 100%;
    background: white;
    background-color: #facc15;
    padding: 3rem 2rem 7rem;
    position: relative;
    border-radius: 0rem 0rem 2.69rem 2.69rem;
}

.event-result {
    min-height: 34rem;
    max-height: 35rem;
    width: 23rem;
    background-color: beige;
    background: linear-gradient(to top, #ffeeb6, #fff7de);
    border-radius: 1rem;
    border: 2px solid #000000;
    box-shadow: 9px 9px 0 #000000;
    cursor: pointer;
}

.event-reult-img img {
    border-radius: 1rem 1rem 0rem 0rem;
    height: 21rem;
    width: 100%;
    object-fit: cover;
    border-bottom: 2px solid black;
}

.event-details {
    padding: 0rem 1rem 1rem;
}

.event-head {
    margin: 0.2rem 0.26rem 0.5rem;
    font-size: 1.26rem;
    font-weight: bold;
    color: #ba0c2f;
    overflow: hidden;
    line-height: 1.69rem;
}

.event-date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.event-result {
    transition: transform 0.3s ease;
}

.event-result:hover {
    transform: scale(1.03);
}

.categories {
    display: flex;
    gap: 8px;
    padding: 0.5rem 0rem;
    flex-wrap: wrap;
}

.categories span {
    background-color: rgb(239 68 68);
    color: white;
    border: 2px solid black;
    padding: 0.4rem 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 50em;
}