@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.ranking-cont {
    background: black;
    font-family: Arial, sans-serif;
    padding: 2.6rem 0rem 2rem;
}

.ranking {
    background: #0f0f1e;
    margin: 0rem 5rem;
    border-radius: 1rem;
    padding-bottom: 1rem;
}

.ranking-head {
    margin-bottom: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem 1rem;
}

.ranking-head h2 {
    font-size: 2.26rem;
    color: white;
    margin: 0;
    font-weight: bold;
    border-bottom: 5px solid red;
    font-family: "Oswald", sans-serif;
}

.ranking-list-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ranking-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.ranking-card {
    width: 27.5rem;
    height: 13.5rem;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    color: white;
}

.ranking-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.ranking-info img {
    position: absolute;
    height: 13rem;
    bottom: 0px;
    right: 0px;
}

.ranking-position {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    line-height: 1;
    display: flex;
    position: relative;
    top: 0px;
}

.ranking-position sup {
    font-size: 1rem;
}

.ranking-player {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.player-name h3 {
    font-size: 1.5rem;
    margin: 0rem;
    display: flex;
    gap: 0.7rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.player-name-first {
    font-weight: 500;
    font-size: 1.45rem;

}

.player-name p {
    margin: 0;
}

.ranking-points {
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    bottom: 1rem;
}

.view-all-rankings a {
    width: auto;
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem 1rem;
    font-family: "Oswald", sans-serif;
}

.view-all-rankings a:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .ranking-head h2 {
        font-size: 32px;
    }

    .ranking-card {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 30px;
    }

    .ranking-info {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .ranking-position {
        font-size: 48px;
    }

    .player-name {
        font-size: 32px;
    }

    .player-team {
        font-size: 22px;
    }

    .ranking-points {
        font-size: 36px;
    }
}