.admin-options {
    width: max-content;
    background-color: white;
    margin: 0.25rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.admin-opt {
    font-size: 1.15rem;
    padding: 0.75rem 2.26rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    transition: transform 0.25s ease;
}

.admin-opt:hover {
    transform: scale(1.05);
    background-color: rgba(128, 128, 128, 0.359);
}

.selectedOpt {
    background-color: rgba(128, 128, 128, 0.45);
    background-color: rgb(0, 234, 255);
    transform: scale(1.07);
}