.admin-nav {
    min-height: 5rem;
    background-color: red;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

.admin-nav-head h2 {
    margin: 0;
    font-size: 2rem;
    color: white;
}

.admin-nav-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.26rem;
}

.admin-nav-btn button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.26rem;
    background: #4a5568;
    color: white;
    padding: 0.5rem 0.75rem;
}

.admin-nav-btn button svg {
    font-size: 2rem;
}

.admin-nav-btn .admin-logout-btn {
    background: rgb(234, 152, 0);
}