.admin-body {
    min-height: 26rem;
    background-color: black;
    padding: 2rem 3rem 7rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-opt-results {
    min-height: 50rem;
    width: 100%;
    background-color: white;
    margin: 0.5rem 13rem;
    border-radius: 1rem;
}