.all-users-table-cont {
    width: 100%;
}

.all-users-table {
    width: 100%;
    border-collapse: collapse;
}

.all-users-table th,
.all-users-table td {
    padding: 0.6rem;
    font-size: 1.1rem;
    text-align: center;
}

.all-users-table th{
    background: linear-gradient(90deg, #94EDFF, #00D4FF);
    font-weight: bold;
    font-size: 1.2rem;
}