.options-head-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 1.26rem;
    color: black;
}

.options-head h2 {
    color: black;
    margin: 0;
    font-size: 1.8rem;
}

.options-form input {
    padding: 0.75rem 1rem;
    font-size: 1.05rem;
    min-width: 17rem;
    border: 1.5px solid black;
}

.options-head-cont button {
    color: white;
}

.ranked-players {
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
}