.news-page{
    min-height: 40rem;
    background-color: black;
        padding: 2rem 3rem 5rem;
    border-radius: 0rem 0rem 2.69rem 2.69rem;
}

.news-row {
    gap: 1.26rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 0rem 2rem;
}