.news-page-head {
    width: max-content;
    padding: 1.2rem 0rem 1.75rem;
}

.news-page-head h1 {
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.17),
        0 20px 40px rgba(0, 0, 0, 0.2);
}

.news-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 40rem;
    background-color: black;
    background: linear-gradient(to bottom right, #1a1a1a, #7f1d1d, #2d2d2d);
    padding: 0.5rem 3rem 5rem;
}

.news-page .news-row {
    gap: 1.26rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 0rem 2rem;
}