.news-page-head {
    width: max-content;
    padding: 1.2rem 0rem 2.26rem;
}

.news-page-head h1 {
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.17),
        0 20px 40px rgba(0, 0, 0, 0.2);
}

.news-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 40rem;
    background-color: black;
    background: linear-gradient(to bottom right, #1a1a1a, #7f1d1d, #2d2d2d);
    padding: 0.5rem 3rem 5rem;
}

.news-age-news-cont {
    display: flex;
    gap: 2.6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.news-page-news {
    box-sizing: border-box;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.487);
    border-color: rgba(220, 38, 38, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.17), 0 20px 40px rgba(0, 0, 0, 0.2);
    color: white;
    display: grid;
    grid-template-columns: 30% 70%;
    align-self: center;
    justify-items: center;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.17), 0 1.5px 13px rgba(255, 255, 255, 0.2);
}

.news-page-news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.news-page-news-content {
    padding: 3rem 2rem;
}

.news-headline h3 {
    font-size: 1.7rem;
    margin: 0;
    padding: 1rem 0rem 1.5rem;
}

.news-date {
    font-size: 0.9rem;
    color: rgb(177, 177, 177);
}

.news-content{
    color: rgb(213, 213, 213);
}