@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

.gallery-slider {
    background-color: black;
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.17),
        0 20px 40px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.slider-cont-head {
    padding: 1.5rem 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative;
    z-index: 1;
}

.slider-cont-head a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.slider-cont-head .gallery-more {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slider-cont-head h2 {
    width: max-content;
    font-size: 2rem;
    margin: 0;
    background-color: transparent;
    border-bottom: 5px solid red;
    font-family: "BBH Bartle", sans-serif;
}

.slider-bg-img {
    width: 100%;
    position: absolute;
    background-color: black;
}

.slider-bg-img img {
    width: 100%;
    opacity: 0.4;
    object-fit: cover;
}

.slider {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.26rem;
    overflow: visible;
    margin: 0rem 0rem 2.5rem;
    animation: slideHorizontal 26s linear infinite;
}

.slider img {
    height: 33rem;
    width: 26rem;
    border-radius: 1.69rem;
    flex-shrink: 0;
}

.slider-bg-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.26) 0%,
            rgba(0, 0, 0, 0.2) 30%,
            transparent 60%);
    pointer-events: none;
    z-index: 1;
    border-radius: 1.26rem 1.26rem 0rem 0rem;
}

@keyframes slideHorizontal {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.slider:hover {
    animation-play-state: paused;
}