@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=BBH+Bartle&family=Sekuya&display=swap');

.intro-cont {
    height: calc(100vh - 5rem);
    background-color: rgb(41, 41, 41);
    position: relative;
    overflow: hidden;
}

.intro-bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.95;
}

.intro-bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.45;
    animation: zoomInOut 7s ease-in-out infinite;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.07);
    }

    100% {
        transform: scale(1);
    }
}

.intro-bg-color {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.485);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.intro-head {
    color: red;
    position: absolute;
    z-index: 2;
    bottom: 11rem;
    left: 2.5rem;
    display: flex;
    flex-direction: column;
    text-shadow: 2.5px 2px 2.5px #000000, 5px 4px 5px #000000, 7.5px 6px 7.5px #000000, 10px 8px 10px #000000, 12.5px 10px 12.5px #000000;
}

.intro-head p {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2.26rem 1.5rem 1rem;
    text-shadow: 1px 1px 2px #000000, 2px 2px 4px #000000, 3px 3px 6px #000000, 4px 4px 8px #000000;
}

.intro-head h1 {
    font-size: 3.26rem;
    margin: 0;
    background: transparent;
    font-family: "BBH Bartle", sans-serif;
}


.intro-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3.5rem 1rem 1.5rem;
    
}

/* CSS */
/* From Uiverse.io by Gautammsharma */
.comic-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.15rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 0px white;
    transition: all 0.3s ease;
    cursor: pointer;
}

.comic-button-2 {
    box-shadow: -4px 4px 0px white;
}

.comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
}

.comic-button-2:hover {
    box-shadow: -5px 5px 0px #ff5252;
}

.comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}