.dist-cont {
    background-color: #0f0f1e;
    min-height: 40rem;
    padding:  3rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    align-items: center;
    gap: 1.26rem;
}

.district {
    min-height: 15rem;
    max-height: 16rem;
    width: 25rem;
    background: linear-gradient(90deg, rgba(225, 0, 0, 1) 0%, rgba(252, 69, 69, 1) 55%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
}

.dist-name {
    font-size: 1.69rem;
    font-weight: bolder;
}

.dist-sec-name{
    font-size: 1.35rem;
    color: black;
    font-weight: bold;
}

.dist-role{
    margin: 1.6rem 0rem ;
}

.dist-email , .dist-no {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
}