.rankings-cont {
    background: linear-gradient(to bottom right, #1a1a1a, #7f1d1d, #2d2d2d);
    padding-bottom: 3rem;
    width: 100%;
}

.rankings-head {
    position: relative;
    background-color: #e10600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    overflow: hidden;
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.17),
        0 20px 40px rgba(0, 0, 0, 0.2);
}

.ranking-heading {
    color: white;
    font-size: 2.6rem;
    font-weight: bold;

}

.rankings-head img {
    height: 3.5rem;
}

.rankings {
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    color: white;
}

.rankings-res-head {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
}

.rankings-options {
    border-bottom: 1px solid white;
}

.rankings-options ul {
    margin: 0rem;
    color: white;
    list-style: none;
    padding: 1rem 0rem;
    font-weight: bold;
    display: flex;
    justify-content: start;
    gap: 1.26rem;
    width: 100%;
}

.rankings-options ul li {
    padding: 1rem;
    font-size: 1.1rem;
}

.rankings-head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.rankings-how .tournament-btn {
    padding: 0.7rem;
    margin: 0.5rem 0rem;
}

.ranking-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 4rem 0rem;
}

.all-players-btn {
    font-size: 1.1rem;
    background: transparent;
    color: white;
    font-weight: 500;
    margin-top: 2rem;
    padding: 0rem;
}

.ranking-options ul {
    margin: 2rem 0rem 0rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.ranking-options ul li {
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    /* border-bottom: 2px ; */
    cursor: pointer;
}

.selected-cat {
    color: #ff0800;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    border-bottom: 5px solid #e10600;
    margin-bottom: -1px;
}