nav {
    background-color: white;
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
}

.logo img {
    height: 3.5rem;
    width: auto;
}

.logo{
    padding-left: 0.7rem;
}

nav ul li {
    text-decoration: none;
    list-style: none;
}

.options ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.options ul a {
    font-size: 1rem;
    color: black;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login{
    margin-left: 2rem;
}

.login-btn  {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.4rem 1rem;
  font-weight: bolder;
  font-size: 1rem;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.login-btn:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.login-btn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
