nav {
    background-color: white;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

.logo img {
    height: 3.75rem;
    width: auto;
}

.logo{
    padding-left: 0.7rem;
}

nav ul li {
    text-decoration: none;
    list-style: none;
}

.options ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.options ul a {
    font-size: 1rem;
    color: black;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login{
    margin-left: 2rem;
}

.login-btn{
    color: white;
}